<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-grid"></div>
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-color--white mdl-shadow--2dp mdl-cell mdl-grid">
    <div class="mdl-card__title mdl-card--expand mdl-color--amber">
      <h2 class="mdl-card__title-text">Compare your todo lists</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      Trying to find out where to go with a friend? Find out what your Foursquare todo lists have in common.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="/auth/foursquare" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Connect Foursquare<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
    </div>
  </div>
<div>