<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-color--white mdl-shadow--2dp mdl-cell">
    <%= form_tag "/intersect", method: :post do %>
      <div class="mdl-card__title mdl-card--expand mdl-color--amber">
        <h2 class="mdl-card__title-text">Compare your todo lists</h2>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        We need the email address of a user to compare your TODO list to.

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="email" id="email">
          <label class="mdl-textfield__label" for="email">Email address</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button type="submit" href="/intersect" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Compare todos<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
      </div>
    <% end %>
  </div>
<div>